<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Demo Page</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    
    <header>
        <h2>Cities</h2>
    </header>
    <!-- <h1>Hello</h1>
    <div class="main">
        <img class="main" src="img/img_chania.jpg" alt="china flower stret ">
    </div>
    <div class="btn"><button id="bt" onclick="myfunction()">click</button></div>
    <div class="pa">
        <p id="ppa">Welcome to my demo Page</p>
    </div> -->


    <section>
        